body{
    background-color: white;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 70px;
    background-color: aqua;
}

#titulo{
    color: black;
}

#p1{
    color: darkblue;
}


#p2{
    color:firebrick;
}

#header{
    background-color: blue;
    height: 80px;
}

#nCabecera{
    color:white;
}